.container {
    display: grid;
    grid-template-columns: 16rem 1fr 16rem; 
    /* 16rem fixed for header and footer and 1 fractional unit for the content
    which takes the remaining space of the page*/
    grid-template-rows: auto 1fr auto;
    /* auto for header and footer as they automatically set their size 
    acording to the content present in the middle */

    /* creating the page layout after defubing the below grid areas */
    grid-template-areas: 
    "header header header"
    "nav content sidebar"
    "footer footer footer";

    /* to tae up the entire height of the page */
    min-height: 100vh;
}

header
{
    grid-area: header;
    padding: 2rem;
    background-color: tomato;
}

nav 
{
    grid-area: nav;
    padding: 2rem;
    background-color: orange;
}

main
{
    grid-area: content;
    padding: 2rem;
    background-color: yellow;
}

aside
{
    grid-area: sidebar;
    padding: 2rem;
    background-color: goldenrod;
}

footer
{
    grid-area: footer;
    padding: 2rem;
    background-color: brown;
}

/* fot smaller screens i.e. less than 1024px we just need one column view */
@media (max-width: 1024px)
{
    .container
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auo) 1fr minmax(5rem, auto) auto;
        grid-template-areas: 
        "header"
        "nav"
        "content"
        "sidebar"
        "footer";
    }
}
